<nav class="bg-black flex justify-between items-center p-4 sticky top-0 w-full">
    <span class="font-bold text-white">Pokemon Trainer App</span>
    
    <ng-container *ngIf="trainer != undefined">

        <ul class="text-white flex">
            <li class="px-4"> 
                <a routerLink="pokemons">Pokemons</a>
            </li>
            <li class="px-4"> 
                <a routerLink="trainer">Trainer</a>
            </li>
        </ul>

    </ng-container>
    

</nav>