<link rel="stylesheet" type="text/css" href="trainer.page.css" />
<div id="pokemon-list">
  <div *ngFor="let pokemon of pokemons">
    <br />
    <div id="pokemon-list-out">
      <img [src]="pokemon.sprites.front_default" alt="Pokemon" />
      <h2><b>{{pokemon.name}}</b></h2>
      <p><b>Type: </b> <span>{{pokemon.types[0].type.name}}</span></p>
      <p><b>Attack Power:</b> {{pokemon.stats[1].base_stat}}</p>
      <p><b>Health:</b> {{pokemon.stats[0].base_stat}}</p>
      <app-favourite-button [pokemonId]="pokemon.name"></app-favourite-button>
      <br>      
      <app-delete-button [pokemonId]="pokemon.name"></app-delete-button>
    </div>
  </div>
</div>